@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Nunito:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  font-size: 10px;
  min-width: 100vw;
}

body {
  background-color: #fafafa;
  color: #2d3436;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 15px;
  min-height: 100vh;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  padding: 10px 0 10px 0;
  background-color: #fafafa;
}

header .row {
  justify-content: space-between;
  align-items: center;
}

.header__btn-log {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 15px 20px;
  color: #2d3436;
  height: 3rem;
  border-radius: 15px;
  background-color: #00a1f1;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.2s, transform 0.1s ease-in, box-shadow 0.1s ease-in;
  box-shadow: 0 2px 5px 0 rgba(32, 33, 36, 0.3);
}
.header__btn-log:hover {
  background-color: #0089cd;
  box-shadow: 0 2px 8px 0 rgba(32, 33, 36, 0.45);
}
.header__btn-log:active {
  background-color: #00a1f1;
  transform: translateY(2px);
  box-shadow: 0 3px 1px 0 #0075af;
}

.btn__add-card {
  margin-left: 1.5rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
  width: 6rem;
  height: 3rem;
  font-size: 3rem;
  background-color: #7cbb00;
  border-radius: 15px;
  margin-right: 10px;
  transition: all 0.2s ease-in, transform 0.1s ease-in, box-shadow 0.1s ease-in;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(32, 33, 36, 0.3);
}
.btn__add-card:hover {
  background-color: #649700;
  box-shadow: 0 2px 8px 0 rgba(32, 33, 36, 0.45);
}
.btn__add-card:active {
  background-color: #7cbb00;
  transform: translateY(2px);
  box-shadow: 0 3px 1px 0 #507900;
}

main {
  padding-top: 110px;
  padding-right: 0.3rem;
}

main .row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -15px;
}

header .row:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  border-radius: 37%;
  background-color: #636e72;
}

.logo {
  margin: 0 20px;
  margin-right: auto;
}
.logo__span {
  font-family: "Chewy", cursive;
  font-size: 3.5rem;
  color: #2d3436;
  -webkit-user-select: none;
          user-select: none;
}

.block {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 20px 15px;
  flex: 0 0 33.3333%;
  transition: flex 0.5s;
  will-change: transform;
}
.block .item {
  position: relative;
}
.block .item .item__close {
  display: none;
}
.block .item .text__rename:hover {
  cursor: pointer;
  background-color: rgba(255, 187, 0, 0.31);
}
.block .item__header {
  -webkit-user-select: none;
          user-select: none;
  position: absolute;
  right: 10px;
  top: 5px;
}
.block .item__header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  padding: 5px;
  font-size: 2rem;
  color: #2d3436;
  background-color: transparent;
  opacity: 0.5;
  -webkit-user-select: none;
          user-select: none;
  border-radius: 50%;
  transition: all 0.15s ease-in;
  cursor: pointer;
}
.block .item__header-btn:hover {
  opacity: 1;
}
.block .item__header-btn:active {
  background-color: #636e7250;
}
.block .item__header-btn:first-child {
  margin-right: 3px;
}
.block .item__title {
  padding: 0 15px 10px 0;
  margin: 25px 0 15px 0;
  border-bottom: 2px solid #636e72;
  border-radius: 10px 10px 0 0;
}
.block .item__list li {
  background-color: rgba(0, 0, 0, 0.08);
  opacity: 0.7;
  border-radius: 10px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.block .item__list li:hover {
  opacity: 1;
  box-shadow: 0 1px 5px 0 rgba(32, 33, 36, 0.3);
}
.block .item__btn {
  margin: 20px 14px 0 0;
  display: flex;
  justify-content: flex-end;
}
.block .item__btn_style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  -webkit-user-select: none;
          user-select: none;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(32, 33, 36, 0.3);
  transition: all 0.15s ease-in, transform 0.1s ease-in, box-shadow 0.1s ease-in-out;
}
.block .item__btn_style:hover {
  box-shadow: 0 2px 8px 0 rgba(32, 33, 36, 0.45);
  opacity: 1;
}
.block .item__btn_style:active {
  transform: translateY(2px);
}
.block .item__btn_add {
  background-color: #7cbb00;
}
.block .item__btn_add:hover {
  background-color: #649700;
}
.block .item__btn_add:active {
  background-color: #7cbb00;
  box-shadow: 0 2px 1px 0 #507900;
}
.block .item__btn_delete {
  background-color: #f65314;
  letter-spacing: -6px;
}
.block .item__btn_delete span::first-letter {
  margin-left: -0.5rem;
}
.block .item__btn_delete:hover {
  background-color: #de4408;
}
.block .item__btn_delete:active {
  background-color: #f65314;
  box-shadow: 0 2px 1px 0 #c03b07;
}
.block .item__btn_delete-active {
  background-color: #ffbb00;
}
.block .item__btn_delete-active:hover {
  background-color: #dba100;
}
.block .item__btn_delete-active:active {
  background-color: #ffbb00;
  box-shadow: 0 2px 1px 0 #bd8a00;
}
.block .item__btn_rename {
  background: url("../img/icons/rename.svg") center/40% no-repeat;
  background-color: #00a1f1;
}
.block .item__btn_rename:hover {
  background-color: #0089cd;
}
.block .item__btn_rename:active {
  background-color: #00a1f1;
  box-shadow: 0 2px 1px 0 #0075af;
}
.block .item__btn_rename-active {
  background-color: #ffbb00;
}
.block .item__btn_rename-active:hover {
  background-color: #dba100;
}
.block .item__btn_rename-active:active {
  background-color: #ffbb00;
  box-shadow: 0 2px 1px 0 #bd8a00;
}

.item {
  width: 100%;
  background-color: #fdfdfd;
  padding: 17px 20px;
  border-radius: 17px;
  border: 1px solid #eee;
  box-shadow: 0 1px 8px 0 rgba(32, 33, 36, 0.28);
  transition: box-shadow 0.2s ease-in;
}
.item:hover {
  box-shadow: 0 2px 12px 0px rgba(32, 33, 36, 0.4);
}

.item textarea {
  width: 100%;
  background-color: transparent;
  resize: none;
  overflow: hidden;
  max-height: 4rem;
}

.title h3 {
  padding: 10px 5px 5px 5px;
  border-radius: 10px 10px 10px 10px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  word-wrap: break-word;
  -webkit-user-select: none;
          user-select: none;
}
.title h3::first-letter {
  text-transform: capitalize;
}
.title__input {
  border-radius: 10px 10px 0 0;
  height: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  background-color: transparent;
  margin-top: -0.75rem;
  transform: translateY(0.75rem);
}

.list ol {
  margin: 5px 15px 5px 30px;
}
.list li {
  word-wrap: break-word;
  font-size: 1.8rem;
  padding: 6px 7px 6px 7px;
  margin: 7px 0 7px 0;
  line-height: 1.25;
  min-height: 2.25rem;
  will-change: margin;
}
.list li::first-letter {
  text-transform: capitalize;
}
.list li.list__complete {
  position: relative;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.list li.list__complete:hover:before {
  content: "";
  visibility: hidden;
  box-sizing: content-box;
  position: absolute;
  display: inline-block;
  left: -3.5rem;
  top: 0.4rem;
  width: 2.8rem;
  height: 100%;
  padding: 0.1rem 0.5rem;
  background: url("../img/icons/complete-3.svg") no-repeat;
  background-size: 55% auto;
  background-position: 50% top;
}
.list li.li__complete {
  text-decoration: line-through;
  list-style-type: none;
  background-color: rgba(0, 226, 0, 0.4);
}
.list li.li__complete:before {
  content: "";
  box-sizing: content-box;
  position: absolute;
  display: inline-block;
  left: -3.5rem;
  top: 0.4rem;
  width: 2.8rem;
  height: 100%;
  padding: 0.1rem 0.5rem;
  background: url("../img/icons/complete-3.svg") no-repeat;
  background-size: 55% auto;
  background-position: 50% top;
}
.list li.list__delete {
  position: relative;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: rgba(226, 15, 15, 0.2);
  transition: all 0.15s ease-in-out;
}
.list li.list__delete:hover {
  background-color: rgba(226, 0, 0, 0.3);
  list-style-type: none;
}
.list li.list__delete:hover:before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -3.5rem;
  top: 0rem;
  width: 3.8rem;
  height: 100%;
  padding: 0.1rem 0.5rem;
  padding: 0px;
  background: url("../img/icons/trash.svg") no-repeat;
  background-size: 55% auto;
  background-position: 50% 0.6rem;
}
.list__input {
  margin: 0;
  padding: 0px !important;
  font-size: 1.8rem;
  padding: 5px 7px 5px 7px;
  line-height: 1.25;
  background-color: transparent;
  height: 2.25rem;
  margin-top: -0.63rem;
  transform: translateY(0.54rem);
}

.profile {
  position: fixed;
  right: -31rem;
  top: 8rem;
  z-index: 11;
}
.profile__header {
  position: relative;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.3s;
  will-change: transform;
  transform: translateX(0rem) scale(1);
  transform-origin: right top;
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 1.5rem;
  border-radius: 8px;
  border: 2px solid #e7e7e7;
  background-color: #f9f9f9;
}
.profile__text {
  display: flex;
  align-items: center;
  box-shadow: content-box;
  font-size: 1.4rem;
  color: #2d3436;
  padding: 0.7rem;
  height: 5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}
.profile__text:hover {
  background-color: #e7e7e7;
  color: black;
}
.profile__login {
  font-size: 1.5rem;
}
.profile__email {
  font-size: 1.2rem;
}
.profile #logout {
  display: inline-block;
}
.profile #logout button {
  background-color: transparent;
  color: #f65314;
  margin: 0.2rem 0.2rem;
  padding: 0.2rem 0.2rem;
  transition: all 0.25s;
}
.profile #logout button:hover {
  color: #ad3507;
  text-decoration: underline;
}

.cards__title {
  -webkit-user-select: none;
          user-select: none;
  position: absolute;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 55vh;
}
.cards__title p {
  margin-bottom: 1rem;
  text-align: center;
  color: rgba(55, 55, 55, 0.5);
  font-size: 2.5rem;
  font-weight: bold;
}
.cards__title p:first-child {
  margin-bottom: 3rem;
}

.popup {
  display: none;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.popup__status {
  position: absolute;
  left: 50%;
  bottom: -3.95rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: #f65314;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  color: #2d3436;
  transform: translateX(-50%);
}
.popup__close {
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 2rem;
  align-self: flex-end;
  margin: -1rem 0 0 0;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.popup__close:hover {
  opacity: 1;
}
.popup__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 2rem 3rem 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #f9f9f9;
  z-index: 11;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3), 0 7px 17px rgba(0, 0, 0, 0.2);
}
.popup__form {
  max-width: 35rem;
  min-width: 25rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.popup label {
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  color: #2d3436;
  margin: 2rem 0 0.5rem 0;
  text-align: left;
  transition: all 0.15s ease-in-out;
}
.popup label:last-child {
  margin-top: 0;
}
.popup input + input {
  margin-bottom: 0.5rem;
}
.popup input[type=email] {
  background-image: none !important;
}
.popup input {
  display: flex;
  min-width: 20rem;
  max-width: 29rem;
  flex: 1 0 20rem;
  max-height: 3.5rem;
  background-color: #f9f9f9;
  font-size: 1.5rem !important;
  border: unset;
  border-bottom: 2px solid #55555580;
  color: #2d3436;
  padding: 0 0.5rem;
  transition: all 0.15s ease-in-out;
}
.popup input {
  outline: none;
}
.popup input:focus {
  outline: none;
  border-color: #00a1f1;
}
.popup input:focus + label {
  color: #00a1f1;
}
.popup input:autofill {
  box-shadow: inset 0 0 0 50px #f9f9f9 !important;
  /* Цвет фона */
  text-fill-color: #2d3436 !important;
  /* цвет текста */
  color: #2d3436 !important;
  /* цвет текста */
}
.popup button {
  display: block;
  width: 20rem;
  margin: 3rem 0 1rem 0;
  padding: 0.9rem 0;
  font-size: 1.8rem;
  color: #2d3436;
  background-color: #00a1f1;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(32, 33, 36, 0.3);
  transition: all 0.15s ease-in, transform 0.1s ease-in, box-shadow 0.1s ease-in-out;
}
.popup button:hover {
  background-color: #0089cd;
  box-shadow: 0 2px 8px 0 rgba(32, 33, 36, 0.45);
}
.popup button:active {
  box-shadow: 0 2px 1px 0 #0075af, 0 2px 8px 0 rgba(32, 33, 36, 0.45);
  transform: translateY(2px);
}
.popup__subtitle {
  margin-top: 1rem;
}
.popup__subtitle p {
  font-size: 1.4rem;
  color: #2d3436;
}
.popup__subtitle a {
  color: #00a1f1;
  transition: all 0.15s ease-in-out;
}
.popup__subtitle a:hover {
  color: #006ea5;
  text-decoration: underline;
}

.date-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.date-card span {
  color: #2d3436;
  opacity: 0.7;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.25;
}

@keyframes close {
  from {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateX(-38rem) translateY(-38rem);
    opacity: 0;
  }
}
@keyframes block_fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes list_fadeIn {
  0% {
    opacity: 0;
    margin-top: -3.5rem;
  }
  80% {
    opacity: 1;
  }
  100% {
    margin-top: 0rem;
  }
}
@keyframes list_fadeOut {
  0% {
    opacity: 1;
    margin-top: 0rem;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-top: -3.5rem;
  }
}
@keyframes open_profile {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  40% {
    opacity: 1;
    transform: scale(0.05, 1);
  }
  50% {
    transform: scale(0.07, 1);
  }
  85% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
    animation-play-state: paused;
    opacity: 1;
  }
}
.open__profile-a {
  visibility: hidden;
  will-change: transform;
  animation-play-state: paused;
  animation-name: open_profile;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.open__profile {
  visibility: visible;
  transform: translateX(-32rem) scale(1);
  opacity: 1;
  transition: transform 0.6s ease-in-out, opacity 0.3s;
}

.list .list_fadeIn {
  animation-name: list_fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.list .list_fadeOut {
  opacity: 0;
  animation-name: list_fadeOut;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.block_fadeIn {
  animation-name: block_fadeIn;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
}

.closeAnim {
  opacity: 0;
  animation-name: close;
  animation-timing-function: ease-in-out;
}

.popup_visible {
  display: block;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 15px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #fafafa;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #636e72;
  border-radius: 8rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5457;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
  background-color: #1c1f20;
}

::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
  background-color: #1c1f20;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
  background-color: #1c1f20;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
  background-color: #1c1f20;
}

html,
body {
  scrollbar-color: #fafafa #636e72;
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: auto;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 1100px) {
  html {
    font-size: 10px;
  }

  .block {
    width: 33.3333%;
    flex: 0 0 33.3333%;
  }

  main .row {
    margin: 0 auto;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 14px;
  }

  .block {
    width: 50%;
    flex: 0 0 50%;
  }
  .block:last-child {
    margin-bottom: 8.9rem;
  }

  main .row {
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  element:hover,
element:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
}
@media (max-width: 840px) {
  body {
    padding-right: 0px;
  }

  html {
    font-size: 12px;
  }

  main .row {
    justify-content: center;
  }

  .block {
    flex: 0 0 85%;
  }
  .block:last-child {
    margin-bottom: 4.9rem;
  }
}
@media (max-width: 550px) {
  header {
    padding-top: 0.5rem;
  }

  html {
    font-size: 10px;
  }

  .logo {
    margin-left: 1rem;
  }
  .logo__span {
    font-size: 2.5rem;
  }

  main {
    padding-top: 8rem;
    padding-right: 0rem;
  }

  main .row {
    justify-content: center;
  }

  .block {
    flex: 0 0 97%;
    padding: 10px 15px;
  }

  .profile__header {
    width: 25rem;
  }
}